.editor-panel-container{
    width: 80%;
    background: #394754;
    border-right: 1px solid var(--super-light-gray-2);
}
.add_text-btn{
    margin: 12px;
    min-width: 140px;
    font-size: 22px !important;
    background: #2ecc8f;
}
.add_text-btn:hover{
    color: #fff;
    background: #1c634d;
}
.formatted_title{
    color: #fff;
    font-size: 18px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    padding: 5px;
    margin: 20px 10px 20px 10px;
    cursor: default;
}

.background_panel_wrapper, .product_panel_wrapper{
    padding: 16px;
}

.colors_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px 0;
}

.file_panel_wrapper{
    padding: 16px;
}

.secondary-btn{
    height: 48px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 16px;
    color: #fff;
    line-height: 1;
    min-width: 140px;
    font-size: 22px !important;
    background: #2ecc8f;
}
.secondary-btn:hover{
    color: #fff;
    background: #1c634d;
}
.images-row{
    margin-top: 10px;
}
.images-div{
    width: 50%;
    float: left;
    padding: 10px;
    cursor: pointer;
}
.d_none{
    display: none !important;
}
.lf-secondary-btn:active .lf-icon-text{
    color: var(--dark-accent);
}

.lf-secondary-btn:active .lf-left-icon svg{
    filter: brightness(0.1%);
}

.lf-secondary-btn:hover .lf-left-icon svg {
    filter: brightness(0.1%);
}
.colors_color {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}

.lamp_background {
    width: calc(43% - 0px);
    height:100px;
    border-radius: 10px;
    border: 2px solid #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-flex;
    margin: 0px 16px 16px 0px;
    cursor: pointer;
}

.background_images_wrapper{
    overflow: auto;
    padding: 10px;
    overflow-y: auto;
    height: calc(100vh - 280px)
}

.product_details{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.product_selected{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.product_details:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.details_row{
    margin-top: 10px;
}
.product_detail_wrapper{
    margin-top: 20px;
    color: #fff;
}
.removeBackground{
    cursor: pointer;
}
/* width */
.background_images_wrapper::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.background_images_wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
.background_images_wrapper::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    visibility:hidden;
}
.background_images_wrapper:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}


/* width */
.background_images_wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.background_images_wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
.background_images_wrapper::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    visibility:hidden;
}
.background_images_wrapper:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}


.background_Winter {
    background-image: url(../../../../assets/images/SolidBackground/Winter Print.jpg);
}
.background_Desert {
    background-image: url(../../../../assets/images/SolidBackground/Desert Print.jpg);
}
.background_Fall {
    background-image: url(../../../../assets/images/SolidBackground/Fall Print.jpg);
}
.background_Summer {
    background-image: url(../../../../assets/images/SolidBackground/Summer Print.jpg);
}
.background_Winter {
    background-image: url(../../../../assets/images/SolidBackground/Winter Print.jpg);
}


.background_football {
    background-image: url(../../../../assets/images/SportsImages/football.jpg);
}
.background_baseball {
    background-image: url(../../../../assets/images/SportsImages/baseball.jpg);
}
.background_basketball {
    background-image: url(../../../../assets/images/SportsImages/basketball.jpg);
}
.background_cycling {
    background-image: url(../../../../assets/images/SportsImages/cycling.jpg);
}
.background_golf {
    background-image: url(../../../../assets/images/SportsImages/golf.jpg);
}
.background_gymnastics {
    background-image: url(../../../../assets/images/SportsImages/gymnastics.jpg);
}
.background_skiing {
    background-image: url(../../../../assets/images/SportsImages/skiing.jpg);
}
.background_horseback {
    background-image: url(../../../../assets/images/SportsImages/horseback.jpg);
}
.background_skateboarding {
    background-image: url(../../../../assets/images/SportsImages/skateboarding.jpg);
}
.background_skating {
    background-image: url(../../../../assets/images/SportsImages/skating.jpg);
}
.background_snowboarding {
    background-image: url(../../../../assets/images/SportsImages/snowboarding.jpg);
}
.background_soccer {
    background-image: url(../../../../assets/images/SportsImages/soccer.jpg);
}
.background_surfing {
    background-image: url(../../../../assets/images/SportsImages/surfing.jpg);
}
.background_tennis {
    background-image: url(../../../../assets/images/SportsImages/tennis.jpg);
}
.background_volleyball {
    background-image: url(../../../../assets/images/SportsImages/volleyball.jpg);
}

.background_Avocado {
    background-image: url(../../../../assets/images/PNGVarious/Avocado.jpg);
}
.background_baby {
    background-image: url(../../../../assets/images/PNGVarious/baby.jpg);
}
.background_Cactae {
    background-image: url(../../../../assets/images/PNGVarious/Cactae.jpg);
}
.background_cats {
    background-image: url(../../../../assets/images/PNGVarious/cats.jpg);
}
.background_cellos {
    background-image: url(../../../../assets/images/PNGVarious/cellos.jpg);
}
.background_Cherries {
    background-image: url(../../../../assets/images/PNGVarious/Cherries.jpg);
}
.background_Chocolate {
    background-image: url(../../../../assets/images/PNGVarious/Chocolate.jpg);
}
.background_dad {
    background-image: url(../../../../assets/images/PNGVarious/dad.jpg);
}
.background_dogs {
    background-image: url(../../../../assets/images/PNGVarious/dogs.jpg);
}
.background_flying {
    background-image: url(../../../../assets/images/PNGVarious/flying.jpg);
}
.background_itsaboy {
    background-image: url(../../../../assets/images/PNGVarious/itsaboy.jpg);
}
.background_itsagirl {
    background-image: url(../../../../assets/images/PNGVarious/itsagirl.jpg);
}
.background_Lightning {
    background-image: url(../../../../assets/images/PNGVarious/Lightning.jpg);
}
.background_Musical {
    background-image: url(../../../../assets/images/PNGVarious/Musical.jpg);
}
.background_robots {
    background-image: url(../../../../assets/images/PNGVarious/robots.jpg);
}
.background_skulbunny {
    background-image: url(../../../../assets/images/PNGVarious/skulbunny.jpg);
}
.background_tvs {
    background-image: url(../../../../assets/images/PNGVarious/tvs.jpg);
}
