.editor-left-menu{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(17,23,29,0.6) ;
}
.fab-icon-button{
    margin-top: 8px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 2px;
    text-align: center;
}
.fab-icon-button:hover{
    background: #bababa;
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

