.editor-left-menu{
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #2a343e;
}
.fab-icon-button{
    width: 100%;
    height: 60px;
    margin-top: 8px;
    cursor: pointer;
    padding: 10px 8px;
    border-radius: 2px;
    text-align: center;
}
.selected_panel{
    background: #394754
}
.fab-icon-button:hover{
    background: #394754
}
.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

