.editor-panel-container{
    width: 80%;
    background: #394754;
    border-right: 1px solid var(--super-light-gray-2);
}
.add_text-btn{
    margin: 12px;
    min-width: 140px;
    font-size: 22px !important;
    background: #2ecc8f;
}
.add_text-btn:hover{
    color: #fff;
    background: #1c634d;
}
.backgroundImageBtn{
    margin-right: 10px;
    min-width: 140px;
    font-size: 16px;
    background: #2ecc8f;
}
.backgroundImageBtn:hover{
    color: #fff;
    background: #1c634d;
}

.background_panel_wrapper{
    padding: 16px;
}

.colors_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 6px 0;
}

.file_panel_wrapper{
    padding: 16px;
}

.lf-secondary-btn{
    font-family: 'Manrope',sans-serif;
    font-size: 18px;
    background-color: var(--white);
    padding: 10px 40px;
    max-width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: var(--dark-accent);
    outline:none !important;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05);
    line-height: 25px;
    display: inline-flex;
    align-items:  center;
}
.d_none{
    display: none !important;
}
.lf-secondary-btn:active .lf-icon-text{
    color: var(--dark-accent);
}

.lf-secondary-btn:active .lf-left-icon svg{
    filter: brightness(0.1%);
}

.lf-secondary-btn:hover .lf-left-icon svg {
    filter: brightness(0.1%);
}
.colors_color {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
}