.editor-right-panel{
    flex: 0 0 250px;
    padding: 10px;
    background-color: #fff;
    border-left: 1px solid var(--super-light-gray-2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.lamp_preview{
    border: 2px solid black;
    height: 200px;
    position: fixed;
    bottom: 30px;
}
.buttons_style{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_purple {
    background-color: #6E6DD3 !important;
}
.properties_wrapper {
    overflow-y: auto;
    max-height: calc(100% - 230px);
}
.properties_wrapper > .container > .row{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #858585;
}
.properties_wrapper > .container > .row > .col{
    display: flex;
    align-items: center;
}
.format_title{
    font-size: 16px;
}
.color_input{
    width: 80px;
    height: 30px;
    border: none;
}
.lamp_text_color{
    display: flex;
}
.carousel-indicators{
    display: none !important;
}
.svg_carousel{
    position: absolute;
    bottom: 20px;
}
.lamp_text_props{
    display: flex;
}
.lamp_text_alignment{
    display: flex;
}
.rotate_props, .scale_props{
    display: flex;
}
.border_icon{
    border: 1px solid black;
    padding: 1px 4px 4px 4px;
    margin-right: 10px;
}
.flip_icon{
    padding: 0px 3px 3px 3px !important
}
.carousel-control-prev{
    left: 10px !important;
    opacity: 0.3 !important;
}
.carousel-control-next{
    right: 10px !important;
    opacity: 0.3 !important;
}
.image-properties-icons li{
    border: none !important;
}
.list-group-item{
    padding: 8px !important;
}
.list-group-item:hover{
    background-color: #e9ecef;
}

.layering-icons{
    margin-top: 5px;
    flex-grow: 1;
    font-family: Lato;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border-radius: 4px;
    min-width: 30px;
    min-height: 28px;
    box-shadow: 0 2px 0 0 #ddd;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fff;
    cursor: pointer;
    color: #323239;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.solid-divider{
    border-top: 1px solid #bbb;
    margin: 0.8rem 0;
}
.layer-icon{
    height: 12px;
    width: 7px;
    padding: 0px !important;
}
.gnr-input-color-wrapper {
    display: flex;
    margin-top: 5px;
}
.color-input{
    height: 30px;
    width: 65px;
    margin-right: 10px;
}
.color-code{
    flex-grow: 1;
    padding: 5px 5px 5px 10px;
    font-size: 12px;
    color: #000;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    text-align: center;
}
.opacity-number{
    padding: 4px;
    width: 64px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 12px;

}
.opacity-scroller > .form-range{
    width: 150px !important;
}
.gnr-input-color-wrapper > .btn-outline-light{
    color: #555555 !important;
    border-color: #555555 !important;
    padding: 5px 35px;
}
.gnr-input-color-wrapper > .btn-outline-light:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px !important;
}
/* width */
.properties_wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.properties_wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
.properties_wrapper::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    visibility:hidden;
}
.properties_wrapper:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}
