.editor-right-panel{
    width: 25%;
    padding: 10px;
    background-color: #fff;
    border-left: 1px solid var(--super-light-gray-2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.lamp_preview{
    border: 2px solid black;
    height: 200px;
    position: fixed;
    bottom: 30px;
}
.buttons_style{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_purple {
    background-color: #6E6DD3 !important;
}
.properties_wrapper {
    overflow-y: auto;
    max-height: calc(100% - 230px);
}
.properties_wrapper > .container > .row{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #858585;
}
.properties_wrapper > .container > .row > .col{
    display: flex;
    align-items: center;
}
.format_title{
    font-size: 16px;
}
.color_input{
    width: 80px;
    height: 30px;
    border: none;
}
.lamp_text_color{
    display: flex;
}
.carousel-indicators{
    display: none !important;
}
.svg_carousel{
    position: absolute;
    bottom: 20px;
}
.lamp_text_props{
    display: flex;
}
.lamp_text_alignment{
    display: flex;
}
.rotate_props, .scale_props{
    display: flex;
}
.border_icon{
    border: 1px solid black;
    padding: 1px 4px 4px 4px;
    margin-right: 10px;
}
.flip_icon{
    padding: 0px 3px 3px 3px !important
}
.carousel-control-prev{
    left: 10px !important;
    opacity: 0.3 !important;
}
.carousel-control-next{
    right: 10px !important;
    opacity: 0.3 !important;
}

/* width */
.properties_wrapper::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.properties_wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}

/* Handle */
.properties_wrapper::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    visibility:hidden;
}
.properties_wrapper:hover::-webkit-scrollbar-thumb {
    visibility:visible;
}