.editor-right-panel{
    width: 25%;
    padding: 10px;
    background-color: #fff;
    border-left: 1px solid var(--super-light-gray-2);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.buttons_style{
    font-family: "Times New Roman";
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    height: 33px;
    width: 33px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg_purple {
    background-color: #6E6DD3 !important;
}
.text_properties_wrapper > .container > .row{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #858585;
}
.text_properties_wrapper > .container > .row > .col{
    display: flex;
    align-items: center;
}
.format_title{
    font-size: 16px;
}
.color_input{
    width: 80px;
    height: 30px;
    border: none;
}
.lamp_text_color{
    display: flex;
}
.color_picker{

}
.text_styling{

}
.lamp_text_props{
    display: flex;
}
.lamp_text_alignment{
    display: flex;
}
.lamp_text_family{

}
.lamp_text_size{

}