.separate-section-baar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #2a343e;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-weight: 500;
    padding: 0 16px;
}
.section-sperator-text{
    padding: 30px 0px;
}
.share-btn{
    margin-right: 10px;
    min-width: 140px;
    font-size: 16px;
    background: #2ecc8f;
}
.share-btn:hover{
    color: #fff;
    background: #1c634d;
}

.done-btn{
    background: #c38586;
    min-width: 110px;
    font-size: 16px;
}
.done-btn:hover{
    color: #fff;
    background: #BE7374;
}
.left-section{
    display: flex;
}